$clr-very-light-gray: hsl(0, 0%, 98%);
$clr-very-light-grayish-blue: hsl(236, 33%, 92%);
$clr-light-grayish-blue: hsl(233, 11%, 84%);
$clr-dark-grayish-blue: hsl(236, 9%, 61%);
$clr-very-dark-grayish-blue: hsl(235, 19%, 35%);
$clr-very-dark-blue: hsl(235, 21%, 11%);
$clr-very-dark-desaturated-blue: hsl(235, 24%, 19%);
$clr-light-grayish-blue: hsl(234, 39%, 85%);
$clr-light-grayish-blue-hover: hsl(236, 33%, 92%);
$clr-dark-grayish-blue-2: hsl(234, 11%, 52%);
$clr-very-dark-grayish-blue-2: hsl(233, 14%, 35%);
$clr-very-dark-grayish-blue-3: hsl(237, 14%, 26%);

[data-theme="light"] {
  --bg-img: url(./images/bg-desktop-light.jpg);
  --bg-clr: hsl(236, 33%, 92%);
  --theme-img: url(./images/icon-sun.svg);
  --bar-clr: hsl(0, 0%, 98%);
  --check-border-clr: hsl(234, 39%, 85%);
  --text-clr: hsl(235, 21%, 11%);
}

[data-theme="dark"] {
  --bg-img: url(./images/bg-desktop-dark.jpg);
  --bg-clr: hsl(235, 21%, 11%);
  --theme-img: url(./images/icon-moon.svg);
  --bar-clr: hsl(235, 24%, 19%);
  --check-border-clr: hsl(234, 11%, 52%);
  --text-clr: hsl(0, 0%, 98%);
}

:root {
  --default-font-size: 1.8rem;
  --font-weight-bold: 700;
  --font-weight-light: 400;
  --clr-primary: hsl(220, 98%, 61%);
  --check-border-clr-hover: linear-gradient(
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --bar-height: 8rem;
}

*,
**,
**::after,
**::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  font-size: var(--default-font-size);
  background-color: var(--bg-clr);
}

::selection {
  color: var(--bg-clr);
  background-color: var(--clr-primary);
}
