.taskbar {
  height: var(--bar-height);
  overflow: hidden;
  border-radius: 0.5rem;

  &__content {
    background-color: var(--bar-clr);
    padding: 0 2rem;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__check {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    border: 2px solid var(--check-border-clr);
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &:hover {
      background: linear-gradient(var(--bar-clr), var(--bar-clr)) padding-box,
        var(--check-border-clr-hover) border-box;
      border: 2px solid transparent;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    &::after {
      width: 2.6rem;
      height: 2.6rem;
      top: 50%;
      left: 50%;
      background: var(--check-border-clr-hover) border-box;
    }

    &::before {
      width: 1.6rem;
      height: 1.6rem;
      z-index: 10;
      top: 55%;
      left: 50%;
      background-image: url(../images/icon-check.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    &[data-select="true"] {
      &::before,
      &::after {
        opacity: 1;
      }
    }
  }

  &__input {
    flex: 1;
    background-color: var(--bar-clr);
    border: none;
    outline: none;
    font-family: inherit;
    font-size: var(--default-font-size);
    font-weight: var(--font-weight-light);
    color: var(--text-clr);
  }

  &__flex {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    font-size: var(--default-font-size);
    font-weight: var(--font-weight-light);
    color: var(--text-clr);
    cursor: pointer;

    &--completed {
      color: var(--text-clr-light);
      text-decoration: line-through;
    }
  }

  &__delete {
    opacity: 0;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }

  &__flex:hover &__delete {
    opacity: 1;
  }
}
